Repository FranCamposC/decide, pull requests merged in 2023-12, with the labels that each got.

#12 feat: Añadido de configuración para integración continua
  .github/workflows/django.yml
Labels: census

#17 Fix/welcome page
  decide/authentication/templates/welcome.html
Labels: authentication

#27 Feature/votacion si no
  decide/voting/admin.py
  decide/voting/form.py
  decide/voting/migrations/0005_question_type_voting_ranked.py
  decide/voting/models.py
  decide/voting/tests.py
Labels: voting

#37 fix: booth vote
  decide/booth/templates/booth/booth.html
  decide/voting/form.py
  decide/voting/models.py
  decide/voting/serializers.py
  decide/voting/tests.py
Labels: Prioridad Alta, booth, voting

#39 Feature/votación seleccion multiple
  decide/booth/templates/booth/booth.html
  decide/store/tests.py
  decide/store/views.py
  decide/voting/form.py
  decide/voting/models.py
Labels: booth, store, voting

#46 test:Test_Vista_Formulario_Question
  decide/voting/test_selenium.py
Labels: voting

#48 Feature/vista administrador
  .vscode/launch.json
  decide/authentication/templates/adminView.html
  decide/authentication/templates/login.html
  decide/authentication/templates/welcome.html
  decide/authentication/urls.py
  decide/authentication/views.py
  decide/census/templates/censusList.html
  decide/census/templates/createCensus.html
  decide/census/templates/editCensus.html
  decide/census/tests.py
  decide/census/urls.py
  decide/census/views.py
  decide/decide/urls.py
  decide/voting/models.py
  decide/voting/templates/createQuestion.html
  decide/voting/templates/createVoting.html
  decide/voting/templates/listQuestion.html
  decide/voting/templates/listVotings.html
  decide/voting/templates/numberAnswer.html
  decide/voting/templates/questionEdit.html
  decide/voting/templates/votingEdit.html
  decide/voting/tests.py
  decide/voting/urls.py
  decide/voting/views.py
Labels: census, voting

#51 Hotfix/arreglar administrador voting
  decide/authentication/templates/welcome.html
  decide/booth/templates/booth/booth.html
  decide/voting/models.py
  decide/voting/templates/createQuestion.html
  decide/voting/templates/listVotings.html
  decide/voting/templates/numberAnswer.html
  decide/voting/tests.py
  decide/voting/urls.py
  decide/voting/views.py
Labels: voting

#52 Feature/pruebas welcome view
  decide/authentication/templates/navbar.html
  decide/authentication/templates/register.html
  decide/authentication/templates/userView.html
  decide/authentication/templates/welcome.html
  decide/authentication/test_selem.py
  decide/authentication/tests.py
Labels: authentication

#34 Feature/exportación censo
  commit.txt
  decide/authentication/forms.py
  decide/authentication/urls.py
  decide/authentication/views.py
  decide/base/migrations/0001_initial.py
  decide/base/migrations/0002_auto_20180921_1056.py
  decide/base/migrations/0003_auto_20180921_1119.py
  decide/census/migrations/0001_initial.py
  decide/census/templates/censusList.html
  decide/census/test_selem.py
  decide/census/tests.py
  decide/census/urls.py
  decide/census/views.py
  decide/cert.crt
  decide/cert.key
  decide/decide/settings.py
  decide/mixnet/migrations/0001_initial.py
  decide/mixnet/migrations/0002_auto_20180216_1617.py
  decide/mixnet/migrations/0003_mixnet_auth_position.py
  decide/mixnet/migrations/0004_auto_20180605_0842.py
  decide/store/migrations/0001_initial.py
  decide/store/migrations/0002_vote_voted.py
  decide/store/migrations/0003_auto_20180921_1522.py
  decide/templates/registration/login.html
  decide/voting/migrations/0001_initial.py
  decide/voting/migrations/0002_auto_20180302_1100.py
  decide/voting/migrations/0003_auto_20180605_0842.py
  decide/voting/migrations/0004_alter_voting_postproc_alter_voting_tally.py
  decide/voting/migrations/0005_question_type_voting_ranked.py
  decide/voting/migrations/0005_voting_ranked.py
  requirements.txt
Labels: census

#63 Feature/cambio prueba
  decide/census/tests.py
  decide/census/views.py
Labels: census
